

.hamb_menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disp_none{
    display: none;
}

.hamb_menu_box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.hamb_item{
    font-size: 30px;
    padding: 20px 45px;
    border-bottom: 3px solid #00095e;
}

.hamb_item:hover{
    background-color: #00095e;
    color: white;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 70px;
}

.close:hover{
    cursor: pointer;
}