.footer{
    padding: 80px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.footer_box{
    width: var(--fullwidth);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.footer_card:nth-of-type(1){
    width: 350px;
}

.footer_card:nth-of-type(4){
    width: 350px;
}


.sec_text{
    font-family: var(--Barlak);
    font-weight: 400;
    font-size: 17px;
    color: #232F55;
    text-decoration: none;
}

.ln{
    line-height: 30px;
}

.number{
    font-size: 24px;
    font-family: var(--Barlak);
}

.mail{
    color: #232F55;
}

.header{
    font-weight: bolder;
    font-size: 20px;
    color: #232F55;
}


.input{
    padding: 15px 30px;
    border: solid 1px #232F55;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.input>input{
    height: 100%;
    width: 100%;
    border: 0;
}
.input>input:focus{
    outline: none;
    height: 100%;
    width: 100%;
    border: 0;
}

.input img{
    width: 16px;
}

.input>a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 25px;
}

.social>a{
    transition: 0.4s ease-in-out;
}

.social>a:hover{
    transform: rotateY(180deg);
}



@media only screen and (max-width: 900px){
    .footer_box{
        flex-direction: column;
        gap: 80px;
        padding: 0 20px;
    }
}